.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 20px;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-family: 'Times New Roman', serif;
}

.nav-links a {
  color: #B0B0B0;
  text-decoration: none;
  margin: 0 15px;
  text-transform: uppercase;
  font-size: 0.9rem;
  transition: color 0.4s ease;
  position: relative; /* Required for the pseudo-element */
  padding-bottom: 5px; /* Add some space for the underline */
}

.nav-links a:hover { color: #C5A059; }

.nav-links a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #C5A059;
  transform-origin: bottom center;
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.cart-icon {
  color: white;
  font-size: 1.2rem;
  position: relative;
  display: flex;
  align-items: center;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #C5A059;
  color: black;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}